#contact{
    padding: 100px;
    background: #F7F7F7;;

}


.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
    margin: 0 auto;
}

.form_title{
    text-align: center;
    font-weight: 900;
font-size: 32px;
line-height: 30px;
}



input{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid silver;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.form button{
    padding: 15px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: #0C111F;
    color: #F7F7F7;
    border: none;
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
}